*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    background-color: rgba(105, 60, 1, 0.24);
    padding-top: 80px;
    font-size: 24px
}

header{
    margin-bottom: 40px;
}

header h1{
    font-size: 40px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form{
    display: flex;
    max-width: 780px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;

    
}
form input{
    padding: 8px;
    font-size: 24px;
    background-color: aliceblue;
    border: none;
    border-bottom: 4px solid #573b3b8a;
    border-left: 4px solid #573b3b8a;
}

form button{
    padding: 8px;
    background-color: rgb(65, 73, 80);
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: none;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
    cursor: pointer;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
}
table td{
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    ;

}
